<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments :: head('logout')}">
    <title> </title>
</head>

<body>
<nav th:replace="~{fragments :: navbar}"></nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="mb-4">logout</h1>
            <div class="alert alert-success">
                You have been logged out successfully!
            </div>
            <a href="/auth/login" class="btn btn-primary">login again</a>
        </div>
    </div>
</div>

<section th:replace="~{fragments :: js_links}"></section>
</body>
</html>
